<section>
  <h3>Filters</h3>
  <div class="row">
    <div class="col-sm6">
      <div class="input-group fluid">
        <label for="title">Title</label>
        <input
          (input)="facade.updateFilterTitle($event)"
          type="text"
          id="title"
          placeholder="Search by title..."
        />
      </div>
    </div>
    <div class="col-sm6">
      <div class="input-group fluid">
        <label for="release-year">Release year</label>
        <input
          (input)="facade.updateFilterRealeaseYear($event)"
          type="text"
          id="release-year"
          placeholder="Release year..."
        />
      </div>
    </div>
  </div>
</section>

<section>
  @for (movie of facade.filteredMovieList$ | async; track movie.id) {
  <h1>{{ movie.title }}</h1>
  <ul>
    <li>Release Date : {{ movie.release_date }}</li>
    <li>Budget : {{ movie.budget | budget }}</li>
    <li>Duration : {{ movie.duration | duration }}</li>
  </ul>
  <button [id]="movie.id">Details</button>
  }
</section>
